# Ignora dependências e temporários
node_modules
dist
build
__pycache__
*.pyc
*.log
*.db

# Ignora repositório git e configs locais
.git
.gitignore
.env
.DS_Store

# Ignora banco local
mysql_data/

# Mantém arquivos do backend importantes
!backendpy/start.sh
!backendpy/requirements.txt
!backendpy/app/**
!backendpy/Dockerfile

Marketing Screens Package/
