services:
  meu-condominio-db:
    image: mysql:8.0
    container_name: condominio_db_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "010598"
      MYSQL_DATABASE: condominio_system
    ports:
      - "3308:3306"
    volumes:
      - ./mysql_data:/var/lib/mysql

    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 10

  backend:
    build: ./backendpy
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - ./backendpy/.env.docker
    environment:
      - DOCKER_ENV=true
    depends_on:
      meu-condominio-db:
        condition: service_healthy
    restart: on-failure


  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "80:5173"
    depends_on:
      - backend
